<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44592964622-95i20pukdlbgd9s8r6m4su8lthb8u9bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44592964622-95i20pukdlbgd9s8r6m4su8lthb8u9bs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>44592964622-20c944tl0svrp83r4mtm906qcp6p1cp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4MOTpY3rs-bGiK3jZuVDLD80l_t6KSiM</string>
	<key>GCM_SENDER_ID</key>
	<string>44592964622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarunpanduri1388.LocalBoys</string>
	<key>PROJECT_ID</key>
	<string>localboys-new</string>
	<key>STORAGE_BUCKET</key>
	<string>localboys-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44592964622:ios:dd6f48002c04d89ec7c85f</string>
	<key>DATABASE_URL</key>
	<string>https://localboys-new-default-rtdb.firebaseio.com</string>
</dict>
</plist>